/*0. Global Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; 
    min-height: 100vh;
    overflow: visible;
}

/* 1. Navigation */
.navbar-container {
    position: fixed; 
    top: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 90%; 
    max-width: 1200px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 15px 30px; 
    z-index: 1000; 
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.18); 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-family: open ;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem; 
    margin: 0;
    padding: 0; 
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ff0000;
    letter-spacing: 1px; 
}

.menu-wrapper { 
    margin: 0 auto;
}

.menu a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3%;
}

.menu a:hover {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;

}

.menu a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%; 
    height: 2px;
    background-color: #ff0000; 
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu a:hover::after {
    width: 100%; 
    left: 0;
}

/* 2. Hero/Home Section */

.hero {
    position: relative;
    background: url('../img/SLG.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; 
    padding: 0; 
    padding-top: 100px; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.content {
    position: relative;
    top: 10rem;
    z-index: 2;
    padding: 80px;
    max-width: 600px;
}

h1 {
    font-size: 64px;
    line-height: 1.1;
    position: relative;
    top : -100px;
    left : -10px;
    font-family: Montserrat;
}


h1 span {
    color: #ff0808;
    font-family: Montserrat;
} 

.hero p { 
    margin: 20px 0;
    font-size: 16px;
    opacity: 0.9;
    position: relative;
    top : -100px;
    left : -10px;
    font-family: serif;
}

.kotak1{
    position: relative;
    bottom: 65%;
    left: 4.2%;
    z-index: 1;
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%; 
}

.kotak2{
    position: relative;
    bottom: 40%;
    left: 5%;
    z-index: 1;
    width: 430px;
    height: 3px;
    background-color: rgb(211, 38, 38)
}

/* 3. Destination Section */
.slider {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-top: 5px solid #ff0000;

}
.slider .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.8s ease-in-out;
    z-index: 1;
}

.info-panel {
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 3;
    max-width: 400px;
}

.info-panel h2 {
    font-size: 42px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -60px;
    left: 6px;
    font-family: Montserrat;
    font-size:50px ;
    
}

.info-panel h2 .highlight,
.info-panel h2 span  {
    color: rgb(255, 4, 4); 
    font-weight: 700; 
    font-family: Montserrat;
    font-size: 50px;
}

.info-panel h2 .custom-sugih-teks {
    color: white; 
    font-weight: 900;
    font-size: 45px; 
    font-family: 'Montserrat';
}

.info-panel p {
    font-size: 17px;
    font-family: Poppins;
    line-height: 1.5;
    opacity: 0.9;
    font-weight: 500;
    position: relative;
    top: -20px;
    left: 10px;
    text-align: justify;
}

.kotak3 {
    width: 440px;
    height: 230px; 
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(60px); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute; 
    top: 55%; 
    left: 6%; 
    transform: translateY(-50%); 
    z-index: 2; 
}

.cards {
    position: relative;
    top: 27%;
    left: 65%;
    display: flex;
    gap: 30px;
    z-index: 1;
    transition: transform 0.6s ease-in-out;
}

.card {
    position: relative;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    overflow: hidden;
    width: 150px;
    height: 240px;
    text-align: center;
    transition: transform 0.6s ease, opacity 0.4s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card h3 .highlight-word {
    color: rgb(255, 4, 4); 
    font-weight: 700;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: 0;
    transition: 0.5s ease;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.1));
    z-index: 1;
}

.card h3 { 
    position: relative;
    top: -10px;
    z-index: 2;
    color: white;
    margin: 5px 0;
}


.card:hover {
    transform: scale(1.07);
}

.card.active {
    transform: scale(1.12);
    opacity: 1;
}

.card:not(.active) {
    opacity: 0.7;
}

.slider-controls {
    position: absolute;
    bottom: 15%;
    left: 20%;
    transform: translateX(-50%);
    z-index: 3;
}

.nav-btn {
    background: #1f1f1f;
    border: none;
    color: white;
    font-size: 28px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* 4. Review Section  */
.about { 
    background-color: #0d0d0d;
    color: #fff;
    text-align: center;
    padding: 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    border-top: 5px solid #0f4f8b;
}

.moving-text-bg {
    position: absolute;
    top: -80px;
    left: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.05;
    pointer-events: none;
    transform: rotate(-15deg); 
}

.moving-text-bg span {
    display: inline-block;
    white-space: nowrap;
    font-size: 200px;
    font-weight: 900;
    letter-spacing: 20px;
    color: white;
    text-transform: uppercase;
    animation: moveRightToLeft 20s linear infinite; 
}

@keyframes moveRightToLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(50%); } 
}

.about-content,
.photo-frame {
    position: relative;
}

.about-content {
    max-width: 800px;
    margin: 0;
    position: absolute;
    top: 44%;
    left: 28.5%;
    transform: translate(-50%, -50%);
    order: 1;
    z-index: 100;
} 

.about-content h2 {
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    z-index: 10;
    width: auto;
    font-family: Bebas Neue;
    font-weight: 400;
} 

.about-content h2 .highlight-word {
    color: #d10000;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 4px;
    text-shadow: 0px 0px 60px rgba(200, 50, 50, 0.836);
    font-family: Bebas Neue;
    font-weight: 400;
} 

.photo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    width: 100%;
}

.photo-grid {
    display: grid;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr); 
    grid-column-gap: 9px;
    grid-row-gap: 9px; 
    height: auto; 
    gap: 15px;
    max-height: 100vh;
    transform: rotate(0deg);
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 90%; 
    max-width: 1200px; 
    margin: 1 auto; 
}

.photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease, filter 0.3s ease;
}

.kotak4 {
    width: 590px;
    height: 230px; 
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(2px); 
    border-radius: 10px; 
    border: 3px solid rgba(255, 255, 255, 0.18);
    position: absolute; 
    top: 36%; 
    left: 28%; 
    transform: translateY(-50%); 
    z-index: 2; 
}

.photo-grid img:nth-child(1) { 
    grid-area: 1 / 1 / 3 / 3; 
}

.photo-grid img:nth-child(2) { 
    grid-area: 1 / 3 / 4 / 6;
}

.photo-grid img:nth-child(3) { 
    grid-area: 3 / 1 / 6 / 3;
}

.photo-grid img:nth-child(4) { 
    grid-area: 6 / 1 / 8 / 4;
}

.photo-grid img:nth-child(5) { 
    grid-area: 4 / 3 / 6 / 6;
}

.photo-grid img:nth-child(6) { 
    grid-area: 6 / 4 / 8 / 8;
}

.photo-grid img:nth-child(7) { 
    grid-area: 1 / 6 / 3 / 9;
}

.photo-grid img:nth-child(8) { 
    grid-area:  3 / 6 / 6 / 9;
}

.photo-grid img:nth-child(9) { 
    grid-area: 1 / 9 / 6 / 11;
}

.photo-grid img:nth-child(10) { 
    grid-area: 6 / 8 / 8 / 11;
}

/* 5. Footer Section */
.main-footer {
    background-color: #171717; 
    color: #f0f0f0;
    padding: 10px 5px;
    text-align: center;
    border-top: 5px solid #d10000; 
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-info h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
    color: white;
    font-family: Bebas Neue, Sans Serif;
}

.brand-info .subtitle {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #d10000;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

.footer-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.footer-menu li a {
    color: #f0f0f0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.footer-menu li a:hover {
    color: #d10000;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.icon-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.icon-link:hover {
    background-color: #d10000;
    border-color: #d10000;
}

.contact-info p {
    font-size: 11px;
    line-height: 1.8;
    color: #aaaaaa;
}